.card-wrapper {
    height: 170px;
    width: 250px;
    background-color: whitesmoke;
    box-shadow: 0px 30px 60px rgba(32, 56, 85, 0.15);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card-wrapper p{
    margin: 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header p{
   color: rgb(126, 114, 114);
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}
.card-content {
  text-align: left;
}

.card-content p{
   letter-spacing: -0.02em;
   font-size: 16px;
  line-height: 22px;
  font-weight: 700;



}
.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.badge {
  padding: 5px 10px;
  background-color: rgb(235, 232, 232);
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}

